{{ define "main" }}
<section class="container">
  <h1>Blog</h1>
  <div class="grid">
  {{ range .Paginator.Pages }}
    <article class="post-list">
      {{ with .Params.featured }}
        <img class="featured-thumb" src="/{{ . }}" alt="Featured image">
      {{ end }}
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p class="meta">{{ .Date.Format "Jan 2, 2006" }} • {{ .Summary }}</p>
    </article>
  {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</section>
{{ end }}
